*
!*/
!*.*
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
*.txt
*.exe
gallery/
ztemp.hs
ztemp2.hs
ppm/*
!ppm/.nothing
png/*
!png/.nothing
src/Ztest.hs
